.header__nav{

    display: flex;
    overflow: hidden;
}
.header__nav ul{
    list-style: none;
}

.header__nav ul li a{
    text-decoration: none;
    color: black;
}

.header__logo{
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

.header__logo-overlay{
    position: absolute;
    inset: 0;
    background-color: var(--primary-color);
    z-index: 1;
}

.header__logo h4{
    padding-left: 30px;
    color: #fff;
    z-index: 2;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: var(--playfair-display);
    text-transform: uppercase;
}

.header__menu,.header__menu-mobile{
    padding: 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
}
.header__menu li{
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}
.header__menu-mobile{
    font-size: 18px;
    color: #fff;
    display: none;
}
.header__menu-mobile-content{
    background-color: var(--color-creamson);
    position: absolute;
    right: 5px;
    top: 65px;
    width: fit-content;
    padding: 15px 35px;
    display: flex;
    gap: 21px;
    flex-direction: column;
    height: 250px;
    z-index: 20;
    border: none;
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s linear;
}
.header__menu-mobile-content.active-ham{
    transform: scaleY(1);
}
.header__menu-mobile-content li{
    font-size: 17px;
    font-family: var(--playfair-display);
}
.header__menu-mobile-content li:nth-child(1){
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__menu-mobile-content li input[type="text"]{
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}
